body {
	  font-family: Iowan Old Style, Seravek, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.site-title {
 // display:inline-block;
 font-size:18px;
 font-weight:bold;
 background:#286748;
 color:white;
 font-family:menlo;
 padding:4px;
 padding-left:8px;
 letter-spacing:4px
}

.nav-list-link {
    color: #286748;
}
